@using System.Security.Claims;
@{
    ViewData["Title"] = @_localizer["Title"];
    var userId = @User.FindFirstValue(ClaimTypes.NameIdentifier);
}
@inject IViewLocalizer _localizer

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/personal-cabinet-service.js"></script>
<script src="~/js/personal-cabinet-service.min.js"></script>

<div>
    <div>
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/@(CultureInfo.CurrentCulture)/PersonalCabinet/UserTickets?id=@userId& @(new PagingParams())">@_localizer["Tickets"]</a>
        </div>

        <span id="open" class="openbtn" onclick="openNav()">&#9776;</span>
    </div>
    <div class="personalinfohandler" style="width: -webkit-fill-available; margin-left: 0.75%;">
        <div class="personalinfohandler">
            <span class="personalinfoheader">@_localizer["FirstName"]</span>
            <span class="personalinfodata" id="FirstName"></span>
        </div>
        <div class="personalinfohandler">
            <span class="personalinfoheader">@_localizer["Username"]</span>
            <span class="personalinfodata" id="UserName"></span>
        </div>
        <div class="personalinfohandler">
            <span class="personalinfoheader">@_localizer["MiddleName"]</span>
            <span class="personalinfodata" id="MiddleName"></span>
        </div>
        <div class="personalinfohandler">
            <span class="personalinfoheader">@_localizer["Email"]</span>
            <span class="personalinfodata" id="Email"></span>
        </div>
        <div class="personalinfohandler">
            <span class="personalinfoheader">@_localizer["LastName"]</span>
            <span class="personalinfodata" id="LastName"></span>
        </div>
        <div class="personalinfohandler">
            <span class="personalinfoheader">@_localizer["PhoneNumber"]</span>
            <span class="personalinfodata" id="PhoneNumber"></span>
        </div>
    </div>
    <div style="margin-left: 0.75%; margin-top: 0.75%">
        <button class="btn btn-warning"
                onclick="window.location.href='/@(CultureInfo.CurrentCulture)/PersonalCabinet/Update/@userId'">
            @_localizer["Button"]
        </button>
        <button class="btn btn-warning"
                onclick="window.location.href='/@(CultureInfo.CurrentCulture)/Home/Index'">
            @_localizer["Return"]
        </button>
    </div>

    <script type="text/javascript">generateUserPersonalCabinetInfo('@userId');</script>
</div>

<script>
    function openNav() {
        document.getElementById("sidenav").style.width = "250px";
        document.getElementById("sidenav").style.top = "0";
        document.getElementById("sidenav").style.left = "0";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("header").style.marginLeft = "250px";
        document.getElementById("footer").style.marginLeft = "250px";
        document.getElementById("open").style.opacity = "0";
    }

    function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("header").style.marginLeft = "0";
        document.getElementById("footer").style.marginLeft = "0";
        document.getElementById("open").style.opacity = "1";
    }
</script>