﻿@{
    ViewData["Title"] = "Адмін панель";
}

<div>
    <ul style="list-style-type:none">
        <li><button class="btn btn-dark" onclick="@("window.location.href='" + Url.Action("Index", "Route") + "'")">Маршрути</button></li>
        <li><button class="btn btn-dark" onclick="@("window.location.href='" + Url.Action("Index", "Train") + "'")">Потяги</button></li>
        <li><button class="btn btn-dark" onclick="@("window.location.href='" + Url.Action("Index", "TrainCar") + "'")">Вагони</button></li>
        <li><button class="btn btn-dark" onclick="@("window.location.href='" + Url.Action("Index", "Place") + "'")">Місця</button></li>
        <li><button class="btn btn-dark" onclick="@("window.location.href='" + Url.Action("Index", "Ticket") + "'")">Квитки</button></li>
    </ul>
</div>
