﻿@{
    ViewData["Title"] = @_localizer["Title"];
}
@model PlaceCreateDto
@inject IViewLocalizer _localizer

<div class="formhandler">
    <div class="formheader">
        <span>@_localizer["FormName"]</span>
    </div>

    <form class="form" method="post" asp-controller="Place" asp-action="CreateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Number">@_localizer["Number"]</label>
            <input class="forminput" asp-for="Number" />
            <span class="frominputerrorhandler" asp-validation-for="Number"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Price">@_localizer["Price"]</label>
            <input class="forminput" type="number" step="0.01" asp-for="Price" />
            <span class="frominputerrorhandler" asp-validation-for="Price"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="PlaceType">@_localizer["PlaceType"]</label>
            <select class="forminput" asp-for="PlaceType" asp-items="Html.GetEnumSelectList<PlaceType>()"></select>
            <span class="frominputerrorhandler" asp-validation-for="PlaceType"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" style="border-right: 2px solid black;" asp-for="IsAvaliable">@_localizer["IsAvaliable"]</label>
            <input class="forminput" asp-for="IsAvaliable" />
            <span class="frominputerrorhandler" asp-validation-for="IsAvaliable"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="TrainCarId">@_localizer["TrainCarId"]</label>
            <input class="forminput" asp-for="TrainCarId" />
            <span class="frominputerrorhandler" asp-validation-for="TrainCarId"></span>
        </div>
        <input class="btn btn-success forminputbutton" type="submit" value="@_localizer["Button"]" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
