﻿@{
    ViewData["Title"] = @_localizer["Title"];
    var previousDisabled = Model.HasPrevoius ? "" : "disabled";
    var nextDisabled = Model.HasNext ? "" : "disabled";
}
@model PagingListModel<Route>
@inject IViewLocalizer _localizer

<div>
    <div class="tableheader">
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/@(CultureInfo.CurrentCulture)/Route/Index?@(new PagingParams())">@_localizer["Route"]</a>
            <a href="/@(CultureInfo.CurrentCulture)/Train/Index?@(new PagingParams())">@_localizer["Train"]</a>
            <a href="/@(CultureInfo.CurrentCulture)/TrainCar/Index?@(new PagingParams())">@_localizer["TrainCar"]</a>
            <a href="/@(CultureInfo.CurrentCulture)/Place/Index?@(new PagingParams())">@_localizer["Place"]</a>
            <a href="/@(CultureInfo.CurrentCulture)/Ticket/Index?@(new PagingParams())">@_localizer["Ticket"]</a>
            <a asp-controller="User" asp-action="Index">@_localizer["User"]</a>
            <a asp-controller="AdminPanel" asp-action="Index">@_localizer["AdminPanel"]</a>
        </div>

        <span id="open" class="openbtn" onclick="openNav()">&#9776;</span>

        <button style="margin-right: 10px"
                class="btn btn-success btn-lg btn-block" onclick="@("window.location.href='" + Url.Action("Create", "Route") + "'")">@_localizer["Create"]</button>
    </div>

    <table class="table" style="align-content: center; text-align: center; vertical-align: middle;">
        <thead class="thead-dark">
            <tr>
                <th>@_localizer["Id"]</th>
                <th>@_localizer["DepartureTime"]</th>
                <th>@_localizer["ArrivalTime"]</th>
                <th>@_localizer["FromCity"]</th>
                <th>@_localizer["ToCity"]</th>
                <th>@_localizer["TravelTime"]</th>
                <th>@_localizer["ActionUser"]</th>
                <th>@_localizer["CreatedAt"]</th>
                <th>@_localizer["UpdatedAt"]</th>
                <th>@_localizer["Update"]</th>
                <th>@_localizer["Delete"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var el in Model)
            {
                <tr>
                    <td>@el.Id</td>
                    <td>@el.DepartureTime</td>
                    <td>@el.ArrivalTime</td>
                    <td>@el.FromCity</td>
                    <td>@el.ToCity</td>
                    <td>@el.TravelTime</td>
                    <td>@el.ActionUser</td>
                    <td>@el.CreatedAt</td>
                    <td>@el.UpdatedAt</td>
                    <td>
                        <button class="btn btn-warning"
                                onclick="@("window.location.href='" + Url.Action("Update", "Route") + $"/{el.Id}'")">@_localizer["Update"]</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteDialog(@el.Id)">@_localizer["Delete"]</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="font-size: 0;">
        <button onclick="@($"window.location.href='/{CultureInfo.CurrentCulture}/Route/Index?{Model.PreviousPage()}'")" class="btn btn-secondary previous @previousDisabled">@_localizer["Previous"]</button>
        <button onclick="@($"window.location.href='/{CultureInfo.CurrentCulture}/Route/Index?{Model.NextPage()}'")" class="btn btn-secondary next @nextDisabled">@_localizer["Next"]</button>
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("sidenav").style.width = "250px";
        document.getElementById("sidenav").style.top = "0";
        document.getElementById("sidenav").style.left = "0";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("header").style.marginLeft = "250px";
        document.getElementById("open").style.opacity = "0";
    }

    function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("header").style.marginLeft = "0";
        document.getElementById("open").style.opacity = "1";
    }

    function deleteDialog(id) {
        var result = confirm("Ви впевнені в тому, що зочете видалити запис?");
        let languageCode = window.location.pathname.split("/")[1];

        if (result) {
            window.location.href = `/${languageCode}/Place/Delete/${id}`;
        }
    }
</script>