﻿@{
    ViewData["Title"] = @_localizer["Title"];
}
@model TicketUpdateDto
@inject IViewLocalizer _localizer

<div class="formhandler">
    <div class="formheader">
        <span>@_localizer["FormName"] @Model.Id</span>
    </div>

    <form class="form" method="post" asp-controller="Ticket" asp-action="UpdateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Id">@_localizer["Id"]</label>
            <input class="forminput" asp-for="Id" value="@Model.Id" readonly />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="UserId">@_localizer["UserId"]</label>
            <input class="forminput" asp-for="UserId" value="@Model.UserId" />
            <span class="frominputerrorhandler" asp-validation-for="UserId"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="BookDate">@_localizer["BookDate"]</label>
            <input class="forminput" type="datetime-local" asp-for="BookDate" value="@Model.BookDate.ToString("yyyy-MM-ddTHH:mm")" />
            <span class="frominputerrorhandler" asp-validation-for="BookDate"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="PlaceId">@_localizer["PlaceId"]</label>
            <input class="forminput" asp-for="PlaceId" value="@Model.PlaceId" />
            <span class="frominputerrorhandler" asp-validation-for="PlaceId"></span>
        </div>
        <input class="btn btn-warning forminputbutton" type="submit" value="@_localizer["Button"]" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
