﻿@{
    ViewData["Title"] = @_localizer["Title"];
}
@model TrainCarCreateDto
@inject IViewLocalizer _localizer

<div class="formhandler">
    <div class="formheader">
        <span>@_localizer["FormName"]</span>
    </div>

    <form class="form" class="form" method="post" asp-controller="TrainCar" asp-action="CreateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Number">@_localizer["Number"]</label>
            <input class="forminput" asp-for="Number" />
            <span class="frominputerrorhandler" asp-validation-for="Number"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="TrainId">@_localizer["TrainId"]</label>
            <input class="forminput" asp-for="TrainId" />
            <span class="frominputerrorhandler" asp-validation-for="TrainId"></span>
        </div>
        <input class="btn btn-success forminputbutton" type="submit" value="@_localizer["Button"]" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
